In [1]:
import pandas as pd
import pickle

In [2]:
with open('mta_station_detail.pickle','rb') as read_file:
    mta_station_detail = pickle.load(read_file)
with open('mta_counts_total.pickle','rb') as read_file:
    mta_total_counts = pickle.load(read_file)

In [3]:
mta_station_detail.head()

,STATION,DIVISION,Division,Stop Name,Station ID,Complex ID,GTFS Stop ID,Line,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1 AV,BMT,BMT,1 Av,119.0,119.0,L06,Canarsie,M,L,Subway,40.730953,-73.981628
1,104 ST,BMT,BMT,104 St,82.0,82.0,J14,Jamaica,Q,J Z,Elevated,40.695178,-73.844330
2,111 ST,BMT,BMT,111 St,81.0,81.0,J13,Jamaica,Q,J,Elevated,40.697418,-73.836345
3,121 ST,BMT,BMT,121 St,80.0,80.0,J12,Jamaica,Q,J Z,Elevated,40.700492,-73.828294
4,14 ST-UNION SQ,BMT,BMT,14 St - Union Sq,15.0,602.0,R20,Broadway - Brighton,M,N Q R W,Subway,40.735736,-73.990568

In [15]:
mta_total_counts.head(20)

             STATION DIVISION  DAILY COUNTS  DAILY EXITS
287  GRD CNTRL-42 ST      IRT     2617020.0    2446281.0
89   42 ST-PORT AUTH      IND     1830374.0    1381056.0
418   TIMES SQ-42 ST      IRT     1605614.0    1340308.0
81    34 ST-PENN STA      IRT     1486414.0    1210294.0
80    34 ST-PENN STA      IND     1422052.0    1260938.0
78   34 ST-HERALD SQ      IND     1381388.0    1279008.0
22    14 ST-UNION SQ      BMT     1330926.0    1145367.0
139            86 ST      IRT     1210198.0    1097619.0
278        FULTON ST      IND     1133014.0     632621.0
110   59 ST COLUMBUS      IND     1010398.0     815947.0
375     PATH NEW WTC      PTH     1008106.0     933847.0
265    FLUSHING-MAIN      IRT     1000594.0     840134.0
210         CANAL ST      BMT      988699.0     647797.0
93    47-50 STS ROCK      IND      970347.0     999347.0
145            96 ST      IRT      936091.0     748585.0
15            125 ST      IRT      902784.0     688618.0
312  JKSN HT-ROOSVLT      IND      898908.0     676289.0
62             23 ST      IND      886897.0     660072.0
77   34 ST-HERALD SQ      BMT      876855.0     705132.0
429   W 4 ST-WASH SQ      IND      772381.0     708132.0

In [6]:
merged_counts = pd.merge(mta_total_counts,mta_station_detail, how = 'left', left_on = ['STATION','DIVISION'],right_on = ['STATION','DIVISION'])

In [14]:
merged_counts.to_csv('counts_with_latlong.csv',sep = '\t')